/* * {
    border: 1px solid cyan;
} */

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: url(/assets/images/grayBackground.jpg) no-repeat;
    background-color: darkslategrey;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 48px;
    /* font-weight: bold; */
    /* font-style: oblique; */
    font-family: 'Righteous', cursive;
    color: rgb(200, 200, 200);
    background: url(/assets/images/grayBackground.jpg) no-repeat; 
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    border-style: groove;
    padding: 5px;
}
div#gBoard {
    position: relative;
    width: 1024px;
    height: 925px;
    margin: auto;
    background: url(/assets/images/steel.jpg) center no-repeat;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-style: groove;
    bottom: 10px;
}
div#messageBox {
    border: 3px solid rgb(255, 255, 255);
    background: url(/assets/images/grayBackground.jpg);
    border-style: groove;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(175, 175, 175);
    font-family: 'Righteous', cursive;
    font-size: 22px;
}
.hit {
    color: lightgoldenrodyellow;
    background: url(https://i.imgur.com/E7RUzO0.gif) no-repeat center center;
    background-size: 100px;
}
.miss {
    color: lightgoldenrodyellow;
    background: url(https://i.imgur.com/2mcArv1.png) no-repeat center center;
    background-size: 100px;
}
table {
    position: absolute;
    border: 6px solid rgb(0, 0, 0);
    border-style: groove;
    border-spacing: 0px;
    border-radius: 10px;
    left: 172px;
    top: 98px;
    background: url(https://i.imgur.com/OheWE3e.png) no-repeat;
    background-color: black;
}
td {
    width: 94px;
    height: 94px;
    border: 1px solid rgb(175, 175, 175, 0.1);
}
form {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 8px;
    background: url(/assets/images/darkOcean.png) no-repeat;
    border-style: groove;
}
form input {
    background-color: rgb(175, 175, 175);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-family: 'Righteous', cursive;
    font-size: 1em;
    border-radius: 8px;
}

/* IceBox Features */
.myBtn {
    background-color: rgb(175, 175, 175);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: url(/assets/images/grayBackground.jpg);
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(175, 175, 175);
    border-radius: 10px;
    border-style: groove;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: rgb(175, 175, 175);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }